.box {
    transition: all 0.2s ease-out;
    margin: 20px;
    border-radius: 40px;
    float: left;
    padding: 10px 10px 10px 10px;
    width: 150px;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;

    background: linear-gradient(to left, transparent 50%, #11111162 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.box:hover {
    transform: scale(1.1);
    box-shadow: 0 0 11px rgba(75, 75, 75, 0.2);
    background-position: left bottom;
}